/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://img.dreamfall.cn/blog/cursor/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://img.dreamfall.cn/blog/cursor/input.cur'),auto !important;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto;
}
#site-name{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
span.tk-icon{
     cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
.OwO-logo{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto;
}
.tk-action-icon{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
.OwO-body{
    cursor: url('https://img.dreamfall.cn/blog/cursor/arrow.cur'),auto;
}
li.OwO-item{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
li{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}
ul.OwO-packages{
    cursor: url('https://img.dreamfall.cn/blog/cursor/arrow.cur'),auto !important;
}
textarea.el-textarea__inner{
    cursor: url('https://img.dreamfall.cn/blog/cursor/input.cur'),auto;
}

.aplayer-pic{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}

button.aplayer-icon{
    cursor: url('https://img.dreamfall.cn/blog/cursor/link.cur'),auto !important;
}

/* 分类高度 */
.categoryBar-list{
    max-height: 390px !important;
}